<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Tech-Watch</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
  <main>
    <header>
      <section id="contenerNav">
        <nav>
          <ul>
            <li>
              <a href="/">
                <figure>
                  <img src="../../img/rent.png" alt="Home" title="Home"/>
                  <div id="cercle"></div>
                  <figcaption>Home</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="/history">
                <img src="../../img/history.png" alt="History Tech-watch" title="History"/>
                <div id="cercle" class="cercleActif"></div>
                <figcaption>History</figcaption>
              </a>
            </li>
            <li>
              <a href="/student">
                <img src="../../img/studen.png" alt="Student list" title="Student"/>
                <div id="cercle"></div>
                <figcaption>Students</figcaption>
              </a>
            </li>
            <li>
              <a href="/assignation">
                <img src="../../img/teamwork.png" alt="Stuldent listTech-watch Assignation" title="Assignation"/>
                <div id="cercle"></div>
                <figcaption>Assign</figcaption>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <section>
      <div id="contenerH1">
        <h1>Tech watch Assignator</h1>
      </div>
      <div id="contenerHistory">
        <div>
          <img id="pompompurinTurn" src="/gifs/oust_2.gif" alt="gif oust">
          <h2>Next Projects</h2>
            <% for (let project of nextProjects) { %>
              <div>
                <%= project.subject %>
                <%= project.deadline %>
                <%= project.group.join(" - ") %>
              </div>
            <%}%>
        </div>

        <div>
          <h2>Previous Projects</h2>
          <% for (let project of previousProjects) { %>
            <div> 
              <%= project.subject %>
              <%= project.deadline %>
              <%= project.group.join(" - ") %>
            </div>
          <%}%>
        </div>
      </div>

    </section>
  </main>
</body>
</html>