<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Tech-Watch</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
  <main>
    <header>
      <section id="contenerNav">
        <nav>
          <ul>
            <li>
              <a href="/">
                <figure>
                  <img src="../../img/rent.png" alt="Home" title="Home"/>
                  <div id="cercle"></div>
                  <figcaption>Home</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="/history">
                <img src="../../img/history.png" alt="History Tech-watch" title="History"/>
                <div id="cercle" class="cercleActif"></div>
                <figcaption>History</figcaption>
              </a>
            </li>
            <li>
              <a href="/student">
                <img src="../../img/studen.png" alt="Student list" title="Student"/>
                <div id="cercle"></div>
                <figcaption>Students</figcaption>
              </a>
            </li>
            <li>
              <a href="/assignation">
                <img src="../../img/teamwork.png" alt="Stuldent listTech-watch Assignation" title="Assignation"/>
                <div id="cercle"></div>
                <figcaption>Assign</figcaption>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <section>
      <div id="contenerH1" class="titleH1">
        <h1>Tech watch Assignator</h1>
      </div>
      <div id="contenerHistory">
        <div class="contenerProject">
          <div class="titleProject">
            <h2>Previous Projects</h2>
          </div>
          <% for (let project of previousProjects) { %>
            <div class="showProject"> 
              <div class="titleProjectName">
                <%= project.subject %>
              </div>
              <div class="groupProject">
                <div class="showUserGroup">
                  <img src="/img/colleagues.png"> 
                  <p><%= project.group.join(" - ") %></p>
                </div>
                <div class="showDateProject">
                  <img class="date" src="/img/calendar.png"> 
                  <p><%= project.deadline %></p>
                </div>
              </div>
            </div>
          <%}%>
        </div>
        <div class="contenerProject" style="margin: 0;">
          <img id="pompompurinPunch" src="/gifs/oust_2.gif" alt="gif oust">
          <div class="titleProject">
            <h2>Next Projects</h2>
          </div>
            <% for (let project of nextProjects) { %>
              <div class="showProject"> 
                <div class="titleProjectName">
                  <%= project.subject %>
                </div>
                <div class="groupProject">
                  <div class="showUserGroup">
                    <img src="/img/colleagues.png"> 
                    <p><%= project.group.join(" - ") %></p>
                  </div>
                  <div class="showDateProject">
                    <img class="date" src="/img/calendar.png"> 
                    <p><%= project.deadline %></p>
                  </div>
                </div>
              </div>
            <%}%>
        </div>
      </div>
    </section>
  </main>
</body>
</html>